Weather data to be converted into html using pandas

In [24]:
import pandas as pd
import os

In [25]:
# Set CSS properties for th elements in dataframe
th_props = [
  ('font-size', '11px'),
  ('text-align', 'center'),
  ('font-weight', 'bold'),
  ('color', '#6d6d6d'),
  ('background-color', '#f7f7f9')
  ]

# Set CSS properties for td elements in dataframe
td_props = [
  ('font-size', '11px')
  ]

# Set table styles
styles = [
  dict(selector="th", props=th_props),
  dict(selector="td", props=td_props)
  ]

In [38]:
# ###DataFrame.to_html(buf=None, columns=None, col_space=None, colSpace=None, header=True, 
# index=True, na_rep='NaN', formatters=None, float_format=None, sparsify=None, index_names=True, 
# justify=None, bold_rows=True, classes=None, escape=True,
# max_rows=None, max_cols=None, show_dimensions=False, notebook=False)Â¶
data=pd.read_csv("weather_data.csv")
data=data.rename(columns={"Unnamed: 0": "City_ID"})
data=data.set_index('City_ID')

data.head(10)

# data.to_html('data_from.html',bold_rows=True,index=True,header=True, border=1)

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,MaxTemperature,WindSpeed
City_ID,,,,,,,,,
0,busselton,90.0,AU,2019-06-30 22:37:05,75.0,-33.64,115.35,11.67,6.61
1,goderich,0.0,CA,2019-06-30 22:45:34,83.0,43.74,-81.71,20.00,2.68
2,bluff,0.0,AU,2019-06-30 22:41:48,49.0,-23.58,149.07,20.36,4.47
3,rikitea,21.0,PF,2019-06-30 22:43:02,58.0,-23.12,-134.97,20.86,4.71
4,lebu,75.0,ET,2019-06-30 22:45:34,93.0,8.96,38.73,14.00,4.60
5,bambanglipuro,73.0,ID,2019-06-30 22:45:35,81.0,-7.95,110.28,23.36,4.56
6,talnakh,0.0,RU,2019-06-30 22:45:35,76.0,69.49,88.39,10.00,6.00
7,popondetta,97.0,PG,2019-06-30 22:45:35,92.0,-8.77,148.24,21.06,1.45
8,bambous virieux,75.0,MU,2019-06-30 22:42:24,68.0,-20.34,57.76,21.00,5.10
9,port elizabeth,20.0,US,2019-06-30 22:45:35,37.0,39.31,-74.98,31.00,6.20

In [43]:
newdata=(data.style
    .format({'Humidity': "{:0.1%}"})
    .set_table_styles(styles))

print(newdata)
newdata.render()

with open('data_from_render.html', 'w') as file:
    file.write(newdata.render())

<pandas.io.formats.style.Styler object at 0x00000254930A5550>